	<header class="page-header">
		<h1 class="page-title">{{ title }}</h1>
	</header><!-- end .page-header -->

	<div class="one-third">

        <h5><a href="a-brief-history">A brief history of the Physiome Project</a></h5>

        <p>The concept of a "Physiome Project" was presented in a report from the Commission on Bioengineering in Physiology to the International Union of Physiological Sciences (IUPS) Council at the 32nd World Congress in Glasgow in 1993. The term "physiome" comes from "physio" (life) + "ome" (as a whole), and is intended to provide a "quantitative description of physiological dynamics and functional behaviour of the intact organism".</p>
		<ul class="arrow dotted">
			<li><a href="a-brief-history">Read more</a></li>
		</ul>

	</div><!-- end .one-third -->

	<div class="one-third">

        <h5><a href="molecules-to-humankind">From molecules to humankind</a></h5>

        <p>To understand the rationale behind the VPH/Physiome Project, it helps to contrast it with the Human Genome Project. The latter built understanding of the DNA underpinning human life through &quot;reductionism&quot;. That is, breaking the body down into its tiniest parts: the three billion chemical base pairs that make up human DNA. The VPH/Physiome Project is doing the opposite. It’s putting &quot;Humpty Dumpty&quot; back together again in a concerted effort to explain how each and every component in the body works as part of the integrated whole.</p>

        <ul class="arrow dotted">
			<li><a href="molecules-to-humankind">Read more</a></li>
		</ul>

	</div><!-- end .one-third -->

	<div class="one-third last">

		<h5><a href="modelling-framework">Developing a modelling framework</a></h5>
		<p>An important aim of the Physiome Project is to develop a multi-scale modelling framework for understanding physiological function that allows models to be combined and linked in a hierarchical fashion. Electromechanical models of the heart, for example, need to combine models of ion channels, myofilament mechanics and signal transduction pathways at the subcellular level and then link these processes to models of tissue mechanics, wavefront propagation and coronary blood flow – each of which may well have been developed by a different group of researchers.</p>

		<ul class="arrow dotted">
			<li><a href="modelling-framework">Read more</a></li>
		</ul>

  	</div><!-- end .one-third.last -->