<header class="page-header">
	<h1 class="page-title">{{ title }}</h1>
</header><!-- end .page-header -->

<div class="one-third">
		<h5><a href="/data-repositories/about">About repositories</a></h5>
		<p>Repositories facilitate collaborative research, and allow people to discover and build on existing work. Storing models and data in repositories also ensures that information is not lost, and provides a source of material for building larger integrated models.</p>
		<ul class="arrow dotted">
			<li><a href="/data-repositories/about">Read more</a></li>
		</ul>
	</div><!-- end .one-third -->

	<div class="one-third">
		<h5><a href="/data-repositories/physiome-model-repository">Physiome Model Repository</a></h5>
		<p>The Physiome model repository provides a place for researchers to find, store, and share models. It contains more than 500 published models encoded in CellML, examples of experimental FieldML models, and can be used to store models in any language or format.</p>
		<ul class="arrow dotted">
			<li><a href="/data-repositories/physiome-model-repository">Read more</a></li>
		</ul>
	</div><!-- end .one-third -->

	<div class="one-third last">
		<h5><a href="/data-repositories/related">Related repositories</a></h5>
		<p>Repositories provided by other research institutions that either directly involved with, or share some of the goals of the Physiome Project.</p>
		<ul class="arrow dotted">
			<li><a href="/data-repositories/related">Read more</a></li>
		</ul>
</div><!-- end .one-third.last -->