<!-- <h2 class="slogan align-center">Building a  comprehensive framework for modelling the human body</h2> -->

<!-- <hr /> -->

<h6 class="section-title">Software Projects</h6>

<ul class="projects-carousel clearfix">

	<li>
	  <a href="/software/opencmiss/iron">
			<img src="/assets/img/software/opencmiss/220x140/opencmiss-seleccontr.png" alt="">
			<h5 class="title">OpenCMISS-Iron</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
	  <a href="/software/opencmiss/zinc">
			<img src="/assets/img/software/zinclibrary/220x140/zinclibrary-bone.png" alt="">
			<h5 class="title">OpenCMISS-Zinc</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
	  <a href="/software/cellml">
			<img src="/assets/img/software/cellml/220x140/cell-diagram.png" alt="">
			<h5 class="title">CellML</h5>
			<span class="categories">&nbsp;</span>
		</a>
  </li>

	<li>
	  <a href="software/fieldml">
			<img src="/assets/img/software/fieldml/220x140/fieldml-bifurc.png" alt="">
			<h5 class="title">FieldML</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
	  <a href="/software/opencell">
			<img src="/assets/img/software/opencell/220x140/opencell-graph.png" alt="">
			<h5 class="title">OpenCell</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
	  <a href="/software/opencmiss/cmgui">
			<img src="/assets/img/software/cmgui/220x140/cmgui-fitting.png" alt="">
			<h5 class="title">Cmgui</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
		<a href="/software/zincplugin">
			<img src="/assets/img/software/zincplugin/220x140/zincplugin-hearts.png" alt="">
			<h5 class="title">Zinc plugin</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

	<li>
	  <a href="/software/cm">
			<img src="/assets/img/software/cm/220x140/leg-model.png" alt="">
			<h5 class="title">CM</h5>
			<span class="categories">&nbsp;</span>
		</a>
  	</li>

</ul><!-- end .projects-carousel -->

<!-- Start 'About' standfirsts -->

<div id="introstandfirsts" class="clearfix">

    <div class="one-fourth">

        <h5><a href="/about/molecules-to-humankind">From molecules to humankind</a></h5>
        
        <p>The Physiome Project is a concerted effort to explain how each and every component in the body, from the scale of molecules up to organ systems and beyond, works as part of the integrated whole.</p>
        
        <ul class="arrow dotted">
            <li><a href="/about/molecules-to-humankind">Read more</a></li>
        </ul>
        
    </div><!-- end .one-fourth -->

    <div class="one-fourth">

        <h5><a href="/about/modelling-framework">Developing a modelling framework</a></h5>
        
        <p>The Physiome Project is developing a multi-scale modelling framework for understanding physiological function that allows models to be combined and linked in a hierarchical fashion.</p>

        <ul class="arrow dotted">
            <li><a href="/about/modelling-framework">Read more</a></li>
        </ul>
        
    </div><!-- end .one-fourth -->

    <div class="one-fourth">

		<h5><a href="/about/the-virtual-physiological-human">The Virtual Physiological Human</a></h5>
        
        <p>In this video Professor Professor Marco Viceconti provides an overview of the Virtual Physiological Human initiative to the audience at TEDxSheffield 2012.</p>

        <ul class="arrow dotted">
            <li><a href="/about/the-virtual-physiological-human">Watch the video</a></li>
        </ul>
        
    </div><!-- end .one-fourth -->

    <div class="one-fourth last">
        
        <h5><a href="/about/a-brief-history">A brief history of the Physiome Project</a></h5>
    
        <p>The concept of a Physiome Project was first presented in a report from the Commission on Bioengineering in Physiology to the International Union of Physiological Sciences (IUPS) Council at the 32nd World Congress in Glasgow in 1993.</p>
        <ul class="arrow dotted">
        	<li><a href="/about/a-brief-history">Read more</a></li>
        </ul>

    </div><!-- end .one-fourth last -->

</div><!-- end introstandfirsts -->
    
<!-- End 'About' standfirsts -->
