	<header class="page-header">
		<h1 class="page-title">{{ title }}</h1>
		<!-- <hr />  -->
		<!-- <h2 class="page-description">Creating multi-scale  compueter models of all 12 major human organ systems</h2> -->
	</header><!-- end .page-header -->

	<div class="one-third">
		<h5><a href="/research/cardiovascular">Cardiovascular system</a></h5>
		<p>Integrating large-scale computer modelling with experimental studies to understand the mechanisms that underlie re-entrant arrhythmia and fibrillation in the heart.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/cardiovascular">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third -->

	<div class="one-third">
		<h5><a href="/research/respiratory">Respiratory system</a></h5>
		<p>Developing anatomically- and biophysically- based computational models of the pulmonary system.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/respiratory">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third -->

	<div class="one-third last">
		<h5><a href="/research/musculo-skeletal">Musculo-skeletal system</a></h5>
		<p>Creating a model for accurate analysis of stress in all components of the human knee, which can then be used for diagnostic evaluation and surgical treatment purposes.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/musculo-skeletal">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third.last -->


	<div class="one-third">
		<h5><a href="/research/digestive">Digestive system</a></h5>
		<p>Developing mathematical models to describe the electrical and magnetic activity of the gastrointestinal system.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/digestive">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third -->

	<div class="one-third">
		<h5><a href="/research/immune">Immune system</a></h5>
		<p>Using mathematical modelling to improve our understanding of the dynamics involved in the pathogen-host system.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/immune">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third -->

	<div class="one-third last">
		<h5><a href="/research/special-sense-organs">Special sense organs</a></h5>
		<p>Develop an anatomically based and biophysically accurate integrated model of the eye to assit clinicans in the diagnosis of disease.</p>
      <!--
		<ul class="arrow dotted">
			<li><a href="/research/special-senses">Read more</a></li>
		</ul>
      -->
	</div><!-- end .one-third.last -->