<header class="page-header">
	<h1 class="page-title">{{ title }}</h1>
</header><!-- end .page-header -->

<h4>{{ intro }}</h4>

{{ softwarelinks }}

{{ if (index % 4)==1 }}
<hr>
{{ endif }}

{{ if (index%4)==0 }}
<div class="one-fourth last">
{{ else }}
<div class="one-fourth">
{{ endif }}

  <a href="{{ software_link }}">
    <img src="{{ image_loc }}">
  </a>
	<h5><a href="{{ software_link }}">{{ software_title }}</a></h5>
  <p>{{ software_caption }}</p>

</div>

{{ if (index%4)==0 }}
</hr>
{{ endif }}

{{ /softwarelinks }}
