<header class="page-header">
	<h1 class="page-title">{{ title }}</h1>
</header><!-- end .page-header -->


<div class="one-fourth"> <a href="/software/zincplugin/">

	<img src="/assets/img/software/zincplugin/220x140/zincplugin-hearts.png" alt=""></a>
	<h5><a href="/software/zincplugin/">Zinc plugin</a></h5>
    <p>The browser plugin that brings the cmgui visualisation engine to your browser.</p>

</div><!-- end .one-fourth -->

<div class="one-fourth"> <a href="/software/opencmiss/">

	<img src="/assets/img/software/opencmiss/220x140/opencmiss-seleccontr.png" alt=""></a>
	<h5><a href="/software/opencmiss/">OpenCMISS</a></h5>
    <p>A mathematical modelling environment for complex bioengineering problems.</p>
    
</div><!-- end .one-fourth -->

<div class="one-fourth">

    <a href="/software/cmgui/"><img src="/assets/img/software/cmgui/220x140/cmgui-fitting.png" alt="A computer model of the eye." width="220" height="140"></a>
	<h5><a href="/software/cmgui/">Cmgui</a></h5>
    <p>The standalone application for building interactive, graphical interfaces to mathematical field models.</p>

</div><!-- end .one-fourth -->

<div class="one-fourth last"> <a href="/software/zinclibrary/">
	
    <img src="/assets/img/software/zinclibrary/220x140/zinclibrary-bone.png" alt=""></a>
	<h5><a href="/software/zinclibrary/">Zinc library</a></h5>
    <p>The library that lets you build interactive, graphical interfaces to mathematical field models.</p>
    
</div><!-- end .one-fourth last -->

<hr />

<div class="one-fourth"> <a href="/software/cellml/">

	<img src="/assets/img/software/cellml/220x140/cell-diagram.png" alt=""></a>
	<h5><a href="/software/cellml/">CellML</a></h5>
    <p>The XML language and software toolkit for storing and exchanging mathematical models of biological systems.</p>
    
</div><!-- end .one-fourth -->

<div class="one-fourth"> <a href="/software/opencell/">

	<img src="/assets/img/software/opencell/220x140/opencell-graph.png" alt=""></a>
	<h5><a href="/software/opencell/">OpenCell</a></h5>
    <p>A free, open source environment for working with CellML.</p>
    
</div><!-- end .one-fourth -->

<div class="one-fourth"> <a href="/software/fieldml/">

	<img src="/assets/img/software/fieldml/220x140/fieldml-bifurc.png" alt=""></a>
	<h5><a href="/software/fieldml/">FieldML</a></h5>
    <p>A framework for modelling software development and model interchange for the bioengineering and engineering communities.</p>
    
</div><!-- end .one-fourth last -->

<div class="one-fourth last"> <a href="/software/cm/">

	<img src="/assets/img/software/cm/220x140/leg-model.png" alt=""></a>    
	<h5><a href="/software/cm/">CM</a></h5>
    <p>An application for continuum mechanics, image analysis, signal processing and system identification.</p>
    
</div><!-- end .one-fourth -->