<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

{{ theme:partial src="head"}} 

<body>

{{ theme:partial src="header"}} 

<section id="content" class="container clearfix">

	<article>

		<header class="page-header">
			<h1 class="topic-title"><a href="/about">About the IUPS Physiome Project</a></h1>
		</header><!-- end .page-header -->

		<div id="main">
		
			<!-- Content -->
            
			{{ layout_content }}              
		
		</div><!-- end #main -->

		<div id="sidebar">
    
			<div class="widget">

				<h6 class="widget-title">About the Physiome Project</h6>

				<ul class="peernav">
					{{ nav from="about" }}
					<li>
						<a href="{{ url }}" {{ if is_current }} class="current"{{ endif }}>{{ title }}</a>
					</li>
					{{ /nav }}
				</ul>

			</div><!-- end .widget -->

		</div><!-- end #sidebar -->
		
	</article><!-- end .single-project -->
	
</section><!-- end #content -->

{{ theme:partial src="footer"}} 

{{ theme:partial src="footer-scripts-all"}} 

</body>
</html>