<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

{{ theme:partial src="head"}} 

<body>

{{ theme:partial src="header"}} 

<section id="content" class="container clearfix">

	<article>

		<header class="page-header">
			<h1 class="topic-title"><a href="/meetings/">Meetings</a></h1>
		</header><!-- end .page-header -->

		<div id="main">
		
			<!-- Content -->
            
			{{ layout_content }}              
		
		</div><!-- end #main -->

		<div id="sidebar">
    
			<div class="widget">

				<h6 class="widget-title">Speakers</h6>
<!--
				<ul class="peernav">
					{{ nav from="meetings" }}
					<li>
						<a href="{{ url }}" {{ if is_current }} class="current"{{ endif }}>{{ title }}</a>
					</li>
					{{ /nav }}
				</ul>
-->

				<ul class="peernav">
					<li>
						<a href="/meetings/bernard-de-bono">Bernard de Bono</a>
					</li>
					<li>
						<a href="/meetings/raj-vadigepelli">Raj Vadigepelli</a>
					</li>
					<li>
						<a href="/meetings/ibrahim-elmadfa">Ibrahim Elmadfa</a>
					</li>
					<li>
						<a href="/meetings/malcolm-gordon">Malcolm Gordon</a>
					</li>
					<li>
						<a href="/meetings/adriano-henney">Adriano Henney</a>
					</li>
					<li>
						<a href="/meetings/charlie-hodgman">Charlie Hodgman</a>
					</li>
					<li>
						<a href="/meetings/peter-hunter">Peter Hunter</a>
					</li>
					<li>
						<a href="/meetings/hiroaki-kitano">Hiroaki Kitano</a>
					</li>
					<li>
						<a href="/meetings/denis-noble">Denis Noble</a>
					</li>
					<li>
						<a href="/meetings/stig-omholt">Stig Omholt</a>
					</li>
					<li>
						<a href="/meetings/pingfan-rao">Pingfan Rao</a>
					</li>
					<li>
						<a href="/meetings/nils-christian-stenseth">Nils Christian Stenseth</a>
					</li>
					<li>
						<a href="/meetings/janet-thornton">Janet Thornton</a>
					</li>					
				</ul>

</div><!-- end .widget -->


			</div><!-- end .widget -->

		</div><!-- end #sidebar -->
		
	</article><!-- end .single-project -->
	<hr />
	<section>
		<h4>Sponsors</h4>
		<div class="one-fourth"> <a href="http://www.biologists.com/">
			<img src="/assets/img/meetings/sponsor-logos/logo-company-of-biologists.png" alt=""></a>
			<h5><a href="http://www.biologists.com/">The Company of Biologists</a></h5>
		</div><!-- end .one-fourth -->
		<div class="one-fourth"> <a href="http://www.elsevier.com/">
			<img src="/assets/img/meetings/sponsor-logos/logo-elsevier.png" alt=""></a>
			<h5><a href="http://www.elsevier.com/">Elsevier</a></h5>
		</div><!-- end .one-fourth -->
		<div class="one-fourth">
		    <a href="http://www.icsu.org/"><img src="/assets/img/meetings/sponsor-logos/logo-icsu.png" width="220" height="140"></a>
			<h5><a href="http://www.icsu.org/">International Council for Science</a></h5>
		</div><!-- end .one-fourth -->
		<div class="one-fourth last"> <a href="http://www.iubmb.org/">
		    <img src="/assets/img/meetings/sponsor-logos/logo-iubmb.png" alt=""></a>
			<h5><a href="http://www.iubmb.org/">International Union of Biochemistry and Molecular Biology</a></h5>
		</div><!-- end .one-fourth last -->
		<hr />
		<div class="one-fourth"> <a href="http://www.iubs.org/">
			<img src="/assets/img/meetings/sponsor-logos/logo-iubs.png" alt=""></a>
			<h5><a href="http://www.iubs.org/">The International Union of Biological Sciences</a></h5>
		</div><!-- end .one-fourth -->
		<div class="one-fourth"> <a href="http://www.iufost.org/">
			<img src="/assets/img/meetings/sponsor-logos/logo-iufost.png" alt=""></a>
			<h5><a href="http://www.iufost.org/">International Union of Food Science and Technology</a></h5>
		</div><!-- end .one-fourth -->
		<div class="one-fourth"> <a href="http://www.iuns.org/">
			<img src="/assets/img/meetings/sponsor-logos/logo-iuns.png" alt=""></a>
			<h5><a href="http://www.iuns.org/">International Union of Nutritional Science</a></h5>
		</div><!-- end .one-fourth  -->
		<div class="one-fourth last"> <a href="http://www.iupesm.org/">
			<img src="/assets/img/meetings/sponsor-logos/logo-iupesm.png" alt=""></a>    
			<h5><a href="http://www.iupesm.org/">International Union for Physical and Engineering Sciences in Medicine</a></h5>
		</div><!-- end .one-fourth last -->
		<hr />
		<div class="one-fourth"> <a href="http://www.iuisonline.org/iuis/">
	                <img src="/assets/img/meetings/sponsor-logos/IUIS_logo.jpg" alt=""></a>
	                <h5><a href="http://www.iuisonline.org/iuis/">International Union of Immunological Societies</a></h5>
                </div><!-- end .one-fourth -->
                <div class="one-fourth"> <a href="http://ibro.info/">
	                <img src="/assets/img/meetings/sponsor-logos/ibro_logo.jpg" alt=""></a>
	                <h5><a href="http://ibro.info/">International Brain Research Organization</a></h5>
                </div><!-- end .one-fourth -->
                <div class="one-fourth"> <a href="http://www.iums.org/">
	                <img src="/assets/img/meetings/sponsor-logos/IUMS_logo.jpg" alt=""></a>
	                <h5><a href="http://www.iums.org/">International Union of Microbiological Societies</a></h5>
                </div><!-- end .one-fourth -->
		<div class="one-fourth last"> <a href="http://www.iups.org/">
			<img src="/assets/img/meetings/sponsor-logos/logo-iups.png" alt=""></a>    
			<h5><a href="http://www.iups.org/">International Union of Physiological Sciences</a></h5>
		</div><!-- end .one-fourth last -->
	</section>	
</section><!-- end #content -->

{{ theme:partial src="footer"}} 

{{ theme:partial src="footer-scripts-all"}} 

</body>
</html>
