<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

{{ theme:partial src="head"}} 

<body>

{{ theme:partial src="header"}} 

<section id="content" class="container clearfix">

	<!-- Content -->    
	{{ layout_content }}
	
</section><!-- end #content -->

{{ theme:partial src="footer"}} 

{{ theme:partial src="footer-scripts-all"}} 

</body>
</html>