<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

{{ theme:partial src="head"}} 

<body>

{{ theme:partial src="header"}} 

<section id="content" class="container clearfix">

	<article>

		<header class="page-header">
			<h1 class="topic-title"><a href="/meetings">ICSU bio-unions satellite symposium</a></h1>
		</header><!-- end .page-header -->

		<div id="main">
		
			<!-- Content -->
            
			{{ layout_content }}              
		
		</div><!-- end #main -->

		<div id="sidebar">
    
			<div class="widget">

				<h6 class="widget-title">Speakers</h6>
<!--
				<ul class="peernav">
					{{ nav from="meetings" }}
					<li>
						<a href="{{ url }}" {{ if is_current }} class="current"{{ endif }}>{{ title }}</a>
					</li>
					{{ /nav }}
				</ul>
-->

				<ul class="peernav">
					<li>
						<a href="/meetings/bernard-de-bono">Bernard de Bono</a>
					</li>
					<li>
					  <a href="/meetings/raj-vadigepelli">Raj Vadigepelli</a>
					</li>
					<li>
						<a href="/meetings/ibrahim-elmadfa">Ibrahim Elmadfa</a>
					</li>
					<li>
						<a href="/meetings/malcolm-gordon">Malcolm Gordon</a>
					</li>
					<li>
						<a href="/meetings/adriano-henney">Adriano Henney</a>
					</li>
					<li>
						<a href="/meetings/charlie-hodgman">Charlie Hodgman</a>
					</li>
					<li>
						<a href="/meetings/hiroaki-kitano">Hiroaki Kitano</a>
					</li>
					<li>
						<a href="/meetings/stig-omholt">Stig Omholt</a>
					</li>
					<li>
						<a href="/meetings/pingfan-rao">Pingfan Rao</a>
					</li>
					<li>
						<a href="/meetings/nils-christian-stenseth">Nils Christian Stenseth</a>
					</li>
					<li>
						<a href="/meetings/janet-thornton">Janet Thornton</a>
					</li>					
				</ul>

</div><!-- end .widget -->


			</div><!-- end .widget -->

		</div><!-- end #sidebar -->
		
	</article><!-- end .single-project -->
	
</section><!-- end #content -->

{{ theme:partial src="footer"}} 

{{ theme:partial src="footer-scripts-all"}} 

</body>
</html>
