<!--[if !lte IE 6]><!-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ theme:js src="jquery-1.7.1.min"}}"><\/script>')</script>
	<!--[if lt IE 9]> <script src="{{ theme:js src="selectivizr-and-extra-selectors.min"}}"></script> <![endif]-->
	<!-- respond.min.js: A fast & lightweight polyfill for min/max-width CSS3 Media Queries (for IE 6-8, and more) -->
	<script src="{{ theme:js src="respond.min"}}"></script>
	<!-- jQuery Easing Plugin: A jQuery plugin from GSGD to give advanced animation easing options. -->
	<script src="{{ theme:js src="jquery.easing-1.3.min"}}"></script>
	<!-- FancyBox: a tool for displaying images, html content and multi-media in a Mac-style "lightbox". -->
	<script src="{{ theme:js src="jquery.fancybox.pack"}}"></script>
	<!-- smartStartSlider: a custom slider. -->
	<script src="{{ theme:js src="jquery.smartstartslider.min"}}"></script>
	<!-- jCarousel is a jQuery plugin for controlling a list of items in horizontal or vertical order.  -->
	<script src="{{ theme:js src="jquery.jcarousel.min"}}"></script>
	<!-- jQuery Cycle Plugin: a slideshow plugin that supports many transition effects.  -->
	<script src="{{ theme:js src="jquery.cycle.all.min"}}"></script>
	<!-- Isotope: a jQuery plugin for dynamic layouts that can’t be achieved with CSS alone. -->
	<script src="{{ theme:js src="jquery.isotope.min"}}"></script>
	<!-- audioplayerv1: a lightweight audio player jQuery plugin -->
	<script src="{{ theme:js src="audioplayerv1.min"}}"></script>
	<!--  Google maps -->
	<script src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ theme:js src="jquery.gmap.min"}}"></script>
	<!-- TouchSwipe: a jquery plugin for touch input devices such as iPad, iPhone -->
	<script src="{{ theme:js src="jquery.touchswipe.min"}}"></script>
	<!-- SmartStart template: custom script. -->
	<script src="{{ theme:js src="custom"}}"></script>
<!--<![endif]-->