/*!
 * Physiome Project
 *
 * 
 * 
 * 
 *
 * 
 */

/*
### Figures and figure captions
*/

img.portrait-left {
	float:left;
	margin:0.5em 1em 5px 0;
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	img.portrait-left {
		width:110px;
	}
}